/*===============================================================================
RESET CODE
==============================================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  text-align: center;
  background-color: #d9d9d9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===============================================================================
END OF RESET CODE
==============================================================================*/
.container{
	display: block;
	position: relative;
	width: 1280px;
	height: 720px;
	margin:0 auto;
	overflow: hidden;
}
canvas{
	max-width: 1280px;
	max-height: 720px;
	display: inline-block !important;
}
#chart{
  background-color: #E5E5E5;
}

@font-face {
	    font-family: 'cabrito';
	    src: url('../fonts/insigne_-_cabrito-extbol-webfont.eot');
	    src: url('../fonts/insigne_-_cabrito-extbol-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/insigne_-_cabrito-extbol-webfont.woff') format('woff'),
	         url('../fonts/insigne_-_cabrito-extbol-webfont.ttf') format('truetype'),
	         url('../fonts/insigne_-_cabrito-extbol-webfont.svg#cabrito_ext_boldext_bold') format('svg');
	    font-weight: 400;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'cabrito';
	    src: url('../fonts/insigne_-_cabrito-nordem-webfont.eot');
	    src: url('../fonts/insigne_-_cabrito-nordem-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/insigne_-_cabrito-nordem-webfont.woff') format('woff'),
	         url('../fonts/insigne_-_cabrito-nordem-webfont.ttf') format('truetype'),
	         url('../fonts/insigne_-_cabrito-nordem-webfont.svg#cabrito_norm_deminorm_demi') format('svg');
	    font-weight: 400;
	    font-style: normal;

	}


#scatter{
	position: absolute;
	right:40px;
	bottom: 60px;
	border-left: solid 3px rgba(100,100,100,0.4);
}
#scatterTitle{
	position: absolute;
	top: 260px;
	right: 60px;

}
#numbOfTweets{
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	top: 105px;
	right: 320px;
}
#lastFive{
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	bottom: 60px;
	left: 40px;
}
#canvas{
	position: absolute;
	bottom: -5px;
	left:0;
	border-top:solid 2px rgba(100,100,100,0.85);
	background-color: rgba(255,255,255,0.6);
}
#myCanvas{
	position: absolute;
	top: 20px;
	left: 20px;
}
#title{
	position: absolute;
	top:0;	left: 0;
}
#heartCanvas{
	position: absolute;
	top: 30px;
	left:100px;
}
.images{
	display: none;
}
.images img{
	width: 300px;
	height: 300px;
}
#followerCount{
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	top: 105px;
	right: 40px;
}
